<div class="content" fxLayout="row" fxLayout.xs="column" (click)="debugAll()">
  <div class="p-10" fxFlex="100">
    <iframe id="preview"></iframe>
  </div>
</div>

<div class="content" fxLayout="row" fxLayout.xs="column">
  <form [formGroup]="allFields">
    <div class="p-10" fxFlex="33" fxFlex.xs="100">
      <textarea matInput spellcheck="false" (keydown)="cancelKeys($event)" placeholder="HTML" formControlName="HTML"></textarea>
    </div>
    <div class="p-10" fxFlex="33" fxFlex.xs="100">
      <textarea matInput spellcheck="false" (keydown)="cancelKeys($event)" placeholder="CSS" formControlName="CSS"></textarea>
    </div>
    <div class="p-10" fxFlex="33" fxFlex.xs="100">
      <textarea matInput spellcheck="false" (keydown)="cancelKeys($event)" placeholder="JS" formControlName="JS"></textarea>
    </div>
  </form>
</div>